<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
     //视频发布
    public function videoinsert()
    {


        //上传文件的名称
        $key = $_FILES['file']['name'];


        if(!$key){
            echo "<script type='text/javascript'>alert('上传视频不能为空');</script>";die;
        }
        //dump($_FILES);


        //上传文件类型
        $vname = $_FILES['file']['type'];


        //获取文件的临时副本的名称
        $filePath=$_FILES['file']['tmp_name'];


        //获取token值
        $accessKey='QL9YoWcmvdLQuoZZjAKQWzwBexF0rgRYbXNEmwnU';
        $secretKey ='p6zP7cvP63wd4mYrZ2LRK5v5j-ipqlgckDVOIV26';



        // 获取自己空间的token值
        $accessKey='AIeur85-13fBsH8DRCgSQ41K66A34nDmw7_n72ck';
        $secretKey ='04iAS_ogwoAFk9S5psI-qCfl7fdbH5i8ouXU7Uj1';








        // 初始化签权对象
        $auth = new Auth($accessKey, $secretKey);
        $bucket = 'music';   // 空间名字
        // 生成上传Token
        $token = $auth->uploadToken($bucket);
        $uploadMgr = new UploadManager();




        // 调用 UploadManager 的 putFile 方法进行文件的上传。
        list($ret, $err) = $uploadMgr->putFile($token, $key, $filePath);




            // 获取去封面
            $fengmian = 'http://'.WAILIAN.$key.'?vframe/jpg/offset/1';


            //视频链接
            $url ='http://'.WAILIAN.$ret['key'];


            //标题
            $vtitle = $_POST['vtitle'];




            //作者
            $uid = Session::get('uid');


            //版块
            $pid = 2;


            //举办地
            $vaddress = $_POST['vaddress'];


            //video
            $vparentid = 0;


            //插入数据库
            $data=[


                'uid'=>$uid,
                'vtitle'=>$vtitle,
                'pid'=>$pid,
                'vurl'=>$url,
                'vaddress'=>$vaddress,
                'vpicture'=>$fengmian,
                'vparentid'=>$vparentid
            ];




            $res = Db::table('love_video')->insert($data);




    }